.checkout-leftmenu,
.checkout-right {
  margin-top: 20px;
}
.checkout-leftmenu ul li {
  padding: 12px 0px;
  cursor: pointer;
  color: #333;
  font-weight: 300;
  border-bottom: 0.1rem solid #ebebeb;
}
.checkout-leftmenu ul li:hover {
  color: #c96;
}
.checkout-leftmenu--active {
  position: relative;
  color: #c96 !important;
}
.checkout-leftmenu--active:after {
  font-family: FontAwesome;

  content: "\f095";
  position: absolute;
  right: 0;
}
.form-control-input {
  height: 40px;
  padding: 0.85rem 2rem;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
  color: #777;
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 0;
  margin-bottom: 2rem;
  transition: all 0.3s;
  box-shadow: none;
  margin-bottom: 1.3rem;
  outline: none;
  width: 100%;
}

.form-control-input:not(:focus) {
  background-color: #f9f9f9;
}

.account-label {
  font-weight: 300;
  font-size: 1.4rem;
  margin: 0 0 1.1rem;
  color: #666;
  display: block;
}
.--input-error {
  border: 1px solid red;
}

.form-text {
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 0.6rem;
}
