.admin {
  display: flex;
  margin: 30px 30px;
}
.admin {
  font-size: 16px;
}
.a-review {
  padding: 3px;
  border: 1px solid #999;
}
#root > main > div > div > div.preview > ul > li {
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#root > main > div > div > div.preview > ul > li > span {
  margin: 10px 10px;
  cursor: pointer;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
