.product-animation-enter {
  opacity: 0;
}
.product-animation-enter-active {
  opacity: 1;
  transition: opacity 800ms, transform 1000ms;
}
.product-animation-exit {
  opacity: 1;
}

.modal-login-enter {
  opacity: 0;
  transform: translate(-50%, -80%);
}
.modal-login-enter-active {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 400ms, transform 1000ms;
}
.modal-login-exit {
  opacity: 1;
}
.modal-login-exit-active {
  opacity: 0;
  transform: translate(-50%, -80%);
  transition: opacity 400ms, transform 1000ms;
}

.my-node-enter {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s;
}
.my-node-enter-done {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s;
}
.my-node-exit-active {
  opacity: 0;
  visibility: hidden;
  transition: all 2s;
}
.my-node-exit-done {
  opacity: 0;
  visibility: hidden;
  transition: all 2s;
}

.alert-enter {
  opacity: 1 !important;
  visibility: visible;

  transform: translate(-50%, -80%);
}
.alert-enter-done {
  transform: translate(-50%, -50%);
  visibility: visible;

  opacity: 1 !important;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-done {
  opacity: 0 !important;
  visibility: hidden !important;

  transform: translate(-50%, -80%);
}

.modal-view-cart-enter {
  opacity: 1 !important;
  visibility: visible;

  transform: translate(-50%, -80%);
}
.modal-view-cart-enter-done {
  transform: translate(-50%, -50%);
  visibility: visible;

  opacity: 1 !important;
}
.modal-view-cart-exit {
  opacity: 1;
}
.modal-view-cart-exit-done {
  opacity: 0 !important;
  visibility: hidden !important;

  transform: translate(-50%, -80%);
}


.remove-btn {
  margin-right: 0.5rem;
}

.remove-enter {
  opacity: 0;
}
.remove-enter-active {
  opacity: 0;
}
.remove-enter-done {
  opacity: 1;

  transition: transform 500ms ease-in;

  transition: opacity 200ms ease-out;
}
.remove-exit {
  opacity: 1;
}
.remove-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-out;
}
