@import "Header.css";
@import "Main.css";
@import "Footer.css";
@import "ModalMolla.css";
@import "Checkout.css";
@import "Animation.css";
@import "DetailProduct.css";

@import "Account.css";
@import "Spinner.css";

@import "Tabs.css";
@import "NotFound.css";

@import "style.css";
@import "responsive.css";

.toast-custom {
  background-color: #c96 !important;
  border-radius: 0.5rem !important;
  min-height: 55px !important;
  padding: 10px 25px !important;

  font-size: 1.6rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slick-track {
  margin-left: -12px !important;
  margin-right: -12px !important;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}
.slick-dots {
  margin: 15px !important;
  bottom: 0 !important;
  position: relative !important;
}
