.detail-page {
  font-size: 1.6rem;
  border-top: 1px solid #d6cfcf;
  border-bottom: 1px solid #d6cfcf;
  padding-top: 20px;
  padding-bottom: 20px;
}

.detail-page > .grid.wide > .row > div:nth-child(2) {
  border: 1px solid #999;
}

.detail-page__small-preview {
  display: flex;
  flex-direction: column;
}

.detail-page__small-preview img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
  border: 1px solid #c96;
  cursor: pointer;
}
.detail-page__big-preview {
  margin-left: -12px;
  margin-right: -12px;
  min-height: 450px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.detail-page__big-preview:hover {
  background-size: 110%;
  border: 1px solid #ddd;
  cursor: move;
}
.show-fullscreen-img-btn {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 49;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 4rem;
  height: 4rem;
  color: #777;
  border: 1px solid rgba(51, 51, 51, 0.08);
  font-weight: normal;
  font-size: 2rem;
  line-height: 1;
  background-color: #fff;
  box-shadow: 2px 6px 16px rgba(51, 51, 51, 0.05);
  transition: all 0.35s ease;
}

.show-fullscreen-img-btn:hover {
  color: #fff;
  background-color: #c96;
}
.modal-show-fullscreen-img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.modal-show-fullscreen-img__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(77, 77, 77, 0.6);
}
.modal-show-fullscreen-img__content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 101;
}
.modal-show-fullscreen-img-center {
  position: absolute;
  max-width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
.modal-show-fullscreen-img-center img {
  width: 100%;
}
.modal-show-fullscreen-img__toolbar {
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal-show-fullscreen-img__navigator > i {
  font-size: 3.8rem;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
}
.modal-show-fullscreen-img__toolbar i {
  font-size: 2.6rem;
  font-weight: 500;
  margin: 0px 10px;
  cursor: pointer;
  color: #fff;
}
.modal-show-fullscreen-img__navigator > i:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.modal-show-fullscreen-img__navigator > i:nth-child(2) {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.detail-content-container__bottom {
  color: #777;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #d6cfcf;
}
.detail-content-container__bottom,
.social-share-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-share-icons span {
  margin-right: 5px;
}
.social-share-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
  color: #777;
  margin: 0px 2px;
  background-color: transparent;
  border: 0.1rem solid #e1e2e6;
  border-radius: 50%;
  text-decoration: none;
  opacity: 1;
  transition: all 0.35s ease;
}
.detail-content-container {
}
.detail-content-container h3 {
  margin: 0;
  font-weight: 400;
  font-size: 2.6rem;
}
.detail-price {
  font-size: 2rem;
  color: #c96;
  display: block;
  margin-top: 15px;
}
.detail-content-container p {
  font-size: 1.4rem;
  color: #777;
  font-weight: 300;
}
.cart-product-quantity-btn {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}
.quanity-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.quanity-group span {
  display: block;
  font-weight: 300;
}
.--detail-page {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.review-item {
  display: flex;
}
.review-item__left {
  width: 15%;
}
.--checkout-btn-page {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}
