.header {
  font-size: 1.3rem;
}
.header__top {
  position: relative;
  justify-content: space-between;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}
.header__top-left {
  display: flex;
  flex-direction: row;
}
.header__top-left > div:nth-child(2) {
  margin-left: 20px;
}

.dropdown-menu {
  position: relative;
}
.dropdown-menu > a {
  text-decoration: none;
  transition: color 0.3s ease;
}
.dropdown-menu > a > i {
  margin-left: 8px;
  font-size: 1.6rem;
}
.dropdown-menu::after {
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.dropdown-menu:hover {
  color: #c96;
}
.dropdown-menu:hover .dropdown-menu__list {
  display: block;
}

.dropdown-menu__list {
  background: #fff;
  display: none;
  position: absolute;
  top: 100%;
  box-shadow: 2px 5px 8px rgba(51, 51, 51, 0.05), -2px 5px 8px rgba(51, 51, 51, 0.05);
  z-index: 20;
}
.dropdown-menu__list > ul {
  list-style: none;
  padding: 0px 10px 0px 10px;
}
.dropdown-menu__list > ul > li > a {
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
}
a:visited {
  color: #666;
}
.header__top {
  color: #666;
  text-decoration: none;
}
.header__top-right {
}
.header__top-right > ul {
  display: flex;
  list-style: none;
}
.header__top-right > ul > li {
  margin: 0 10px;
  cursor: pointer;
}
.header__top-right > ul > li > i,
.header__top-right > ul > li > a > i {
  margin: 0 5px;
}
.header__top-right > ul > li:hover {
  color: #c96;
}
.header__bottom {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}
.header__bottom-left,
.header__bottom-right {
  display: flex;
  align-items: center;
}
.header__bottom > .header__bottom-left > ul,
.header__bottom > .header__bottom-right > ul {
  list-style: none;
  display: flex;
}

.header__bottom > .header__bottom-left > ul > li {
  cursor: pointer;
}
.header__bottom > .header__bottom-right > ul > li > a {
  cursor: pointer;
}

.header__bottom-left > ul > li,
.header__bottom-right > ul > li {
  max-height: 22px;
  margin: 0 15px;
  position: relative;
  display: flex;
  align-items: center;
}
.header__bottom-right > ul > li > i {
  font-size: 2.2rem;
}
.header__bottom-right > ul > li:hover {
  color: #c96;
}
.input-search {
  cursor: pointer;
  outline: none;
  min-width: 270px;
  background-color: #fff;
  border: 0.1rem solid #ebebeb;
  border-radius: 20px;
  padding: 0.9rem 5rem 0.9rem 2.3rem;
}
.li-search-group {
  position: relative;
}
#check-search {
  visibility: hidden;
}
.check-search {
  cursor: pointer;
  position: absolute;
  right: 10px;
}
input[type="checkbox"]:checked ~ .input-search {
  display: none;
}

.cart-number {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 2;
  color: #fff;
  font-size: 1.1rem;
  background: #c96;
  padding: 1px 4px;
  border-radius: 50%;
}
.active-li {
  color: #c96;
}
.bar-mobile {
  font-size: 2.5rem;
  margin-right: 10px;
  cursor: pointer;
}
.menu-mobile {
  position: fixed;
  top: 0;
  left: -100%;
  right: 100%;
  bottom: 0;
  background: white;
  z-index: 100;
  padding: 40px 60px;
  transition: all 0.2s linear;
}
.isOpen {
  left: 0;
  right: 0;
}
.menu-mobile__close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 1.8rem;
}
input[type="checkbox"]:checked ~ .menu-mobile {
}
.toggle-menu-mobile {
  display: none;
}
.wrapper12 {
  padding: 22px 30px 15px 30px;
  display: flex;
}
.wrapper12 ul li {
  cursor: pointer;
}
.col3 img {
  display: block;
}
.shop-menu-dropdown {
  font-size: 1.4rem;
  font-weight: 400;

  display: none;

  position: absolute;
  left: 0;
  top: 252%;
  z-index: 66;
  max-height: 270px;
  overflow-y: hidden;
  border: none;
  box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05), -5px 10px 16px rgba(51, 51, 51, 0.05);
  background-color: #fff;
  /* visibility: hidden;
    opacity: 0; */
  transition: all 0.25s;
}
.col1,
.col2 {
  margin: 0 5px;
  flex: 1;
  min-width: 150px;
}
.col1 ul,
.col2 ul,
.col3 ul {
  padding: 0;
  font-weight: 300;
  font-size: 1.2rem;
  margin: 10px 0;
}
.col1 ul li,
.col2 ul li,
.col3 ul li {
  margin: 10px 0;
  columns: #a6c5eb;
}

.dropdown-cart-items {
  display: none;
  position: absolute;
  right: 0;
  top: calc(62px);
  padding: 22px 30px 0px 30px;
  z-index: 4;
  max-height: 350px;
  overflow-y: auto;
  width: 300px;
  border: none;
  box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05), -5px 10px 16px rgba(51, 51, 51, 0.05);
  background-color: #fff;
  /* visibility: hidden;
    opacity: 0; */
  transition: all 0.25s;
}
.dropdown-cart-items__container {
  position: relative;
  padding-top: 40px;
  max-height: 400px;
  text-align: center;
  overflow: scroll;
}
.bot {
  font-weight: 300;
  font-size: 1.5rem;
  color: #cc9966;
  cursor: pointer;
  border: 1px solid #cc9966;
  border-radius: 2px;
  width: 100%;
  max-height: 33px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  margin-bottom: 0;
  justify-content: center;
  padding: 10px 23px;
}
.bot:hover {
  color: white;
  background: #c96;
}
.dropdown-cart-items ul {
  max-height: 600px;
  overflow: scroll;
  padding: 0;
  margin: 0;
}
.dropdown-cart-items ul li {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.dropdown-cart-items-left {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 67%;
}
.dropdown-cart-items-left h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 5px;
}
.dropdown-cart-items-right {
  justify-content: space-between;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  width: auto;
}
.dropdown-cart-items-right img {
  object-fit: contain;
  width: 70%;
  height: auto;
}
.dropdown-cart-items-left__amount {
  color: #a69e99;
  font-weight: 400;
  font-size: 1.4rem;
}
.dropdown-cart-items-left__close {
  margin-left: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 500;
}
.menu-li > li > i {
  margin-left: 4px;
}
.menu-li {
  text-transform: uppercase;
}

.menu-li li:after {
  content: "";
  height: 44px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}

#view-cart-icon:before {
  content: "";
  height: 44px;
  width: 265%;
  position: absolute;
  bottom: -40px;
  left: -30px;
}
#view-cart-icon a {
  font-size: 2.4rem;
}

.slide-header .slick-slide {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.slide-header .slick-slider {
  max-height: 450px;
}

.slide-header .slick-arrow.slick-prev {
  left: -21px;
}
.slide-header .slick-arrow.slick-next {
  right: -21px;
}

.slide-header .slick-dots {
  bottom: 50px !important;
}
.list-sidebar-menu {
  text-align: center;
}
.list-sidebar-menu li {
  margin: 50px 0px;
}
#wrap-slider {
  max-height: 455px;
}
.carousel__viewport:hover .intro-overlay{
  
  opacity: 1;
  visibility: visible;
}