/* moblie < 740px */
.moblie,
.pc,
.tablet {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #999;
  display: none;
  z-index: -1;
}

@media only screen and (max-width: 739px) {
  .bar-mobile.moblie {
    display: block;
  }
  .grid.wide {
    width: 350px;
  }
  .header__top-right,
  .menu-li {
    display: none !important;
  }
  .carousel__viewport {
    height: 100%;
  }
  div.carousel__text > div.carousel__title > h3 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 300;
  }
  div.carousel__text > div.carousel__title > h1 {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 500;
  }
  .intro-2,
  .intro-3 {
    height: 245.5px !important;
  }
  .carousel::before,
  .carousel::after {
    display: none;
  }
  .carousel__navigation {
    bottom: 20px !important;
  }
  .intro {
    padding-bottom: 15px !important;
  }

  .brand-ads > ul > li {
    margin: 0 20px;
  }
  .trendy-product__title {
    font-size: 2rem !important;
  }
  .trendy-product__menu > li {
    margin: 0px 12px;
  }
  .sign-up-banner {
    padding: 25px 25px;
  }
  .flex-intro-23.col.l-4.m-0.c-12 {
    display: block;
  }
  .footer-bottom {
    flex-direction: column;
  }
  .footer-bottom img {
    margin-left: 0;
  }
  .input-search {
    display: none;
  }
  .header__bottom-left {
    width: 100%;
  }
  .logo {
    margin-left: auto;
  }
  .modal-auth {
    max-width: 90%;
    width: 90%;
  }
  .modal-auth__container {
    padding: 20px 20px;
  }
  .modal-auth__tab span {
    padding: 10px 20px;
  }
  .modal-auth__tab {
    font-size: 2rem;
    justify-content: center;
  }
  .btn-outline-orange {
    width: 100%;
    margin-bottom: 12px;
  }
  .login-row,
  .remember-me {
    flex-wrap: wrap;
  }
  .product-item > img {
    min-width: auto;
    min-height: auto;
  }
  .col.l-3.m-4.c-6 .product-item {
    width: auto !important;
  }
}
.slick-slide {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.slick-track .product-item {
  width: inherit !important;
}
/* tablet */
@media only screen and (max-width: 1023px) and (min-width: 740px) {
  .tablet {
    display: block;
  }
}
/* pc max-width 1024px */
@media only screen and (min-width: 1024px) {
  .pc {
    display: block;
  }
}
