$primary_color: #c96;
.checkout-containter {
  .wrapper-prod {
    margin-top: 30px;
    font-size: 1.5rem;
  }
  .filter-bar > table,
  .filter-bar > table > tbody {
    tr {
      th {
        font-weight: 400 !important;
      }
      th:nth-child(2) {
        text-align: right;
        span {
          border-radius: 50%;
          background: #f8f8f8;
          padding: 5px;
        }
      }
    }
    tr:nth-child(1) {
      th:nth-child(2) {
        color: $primary_color;
        cursor: pointer;
      }
    }
  }

  .filter-bar > table,
  .filter-bar > table > tbody > tr {
    height: 40px;
    width: 100%;
    text-align: left;
    font-weight: 400 !important;
  }
  .filter-bar > table,
  .filter-bar > table > tbody > tr:nth-child(1) {
    height: 50px;
    width: 100%;
    font-weight: 400 !important;

    text-align: left;
  }
  .custom-control-input {
    width: 1.6rem;
    height: 1.6rem;
    top: 3px;
    cursor: pointer;
  }
  .filterd-product__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    .select-custom {
      margin-left: 15px;
      display: inline-block;
    }
  }
 
  .filterd-product__item {
    display: flex;
    justify-content: space-around;
    font-weight: 300;
    box-shadow: none;
    padding-top: 18px;
    border-bottom: .1rem solid #ebebeb;
    &:nth-child(1){
      margin-top: -26px;
    }
  }
  .btn-dropdown-category {
    cursor: pointer;
  }
  .thumbnail-image img {
    max-width: 100%;
  }
  .short-description h4, .short-description h3, .price-and-action h3 {
    margin: 0;
    font-weight: 300;
    color: #000;
  }
  .short-description h3, .price-and-action h3{
    font-weight: 400;
  }
  #warapper-description, #wrapper-price {
    display: flex;
    align-items: center;
  }
  .price-and-action {
    position: relative;
    width: 100%;
    .bot {
      position: relative;
    }
    .star {
      margin: 10px 0px;
    }
    h3 {
      color: #c96;
    }
  }
  .description {
    color: #777;
  }
  b {
    font-weight: 600;
  }
  
}
